body {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: 'Mozilla headline', sans-serif;
    background-color: #22223B;
    color: #F2E9E4;
    
}  


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-bottom: 1px solid  #4A4E69;
    padding: 1.2rem;
}

hr {
    width: 80%;
    border-color: #4A4E69
}

a {
    color:#C9ADA7;
    text-decoration: none;
    font-size: 1rem;
    transition: font-size 0.3s ease;
}

a:hover{
    font-size: 1.2rem;
}



main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1.2rem;
    
}

section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 80%;
}

img {
    min-width: 200px;
    width: 80%;
    max-width: 500px;
    object-fit: cover;
    margin: 20px;
    border: 2px solid #F2E9E4;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem 0;
    border-top: 1px solid  #4A4E69;;
    padding: 1.5rem;
    margin: 1.2rem;
    overflow-x: hidden;
}